.lines {
  color: white;
  background: repeating-linear-gradient(45deg, #FFFFFC, #FFFFFC 10px, #E34446 10px, #E34446 20px);
  height: 100vh
}

.profile-pic {
  width: 30vh;
  height: 30vh;
  object-fit: cover;
  border-radius: 50%;
}

.outside-text {
  background-color: #fff;
  color: #000;
  padding: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.reveal {
  color: #000;
}